openapi: 3.0.3
info:
  title: Asana API
  version: '1.0'
  description: OpenAPI specification for Asana's "Get users in a workspace" endpoint.

servers:
  - url: https://app.asana.com/api/1.0

paths:
  /workspaces/{workspace_gid}/users:
    get:
      summary: Get users in a workspace
      operationId: getUsersForWorkspace
      parameters:
        - name: workspace_gid
          in: path
          required: true
          description: Globally unique identifier for the workspace.
          schema:
            type: string
        - name: opt_fields
          in: query
          required: false
          description: Comma-separated list of fields to include in the response.
          schema:
            type: string
        - name: limit
          in: query
          required: false
          description: The number of objects to return per page.
          schema:
            type: integer
        - name: offset
          in: query
          required: false
          description: Offset token returned from a previous response for pagination.
          schema:
            type: string
      responses:
        '200':
          description: A list of users in the workspace.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        gid:
                          type: string
                          example: "12345"
                        name:
                          type: string
                          example: "Jane Doe"
                        email:
                          type: string
                          example: "jane@example.com"
                        resource_type:
                          type: string
                          example: "user"
        '401':
          description: Unauthorized – Authentication failed.
        '403':
          description: Forbidden – Not enough permissions.
        '404':
          description: Workspace not found.

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

security:
  - bearerAuth: []
