{
  "openapi": "3.0.3",
  "info": {
    "title": "Microsoft Graph - Create Draft Message",
    "version": "1.0.0",
    "description": "POST body is a Microsoft Graph message resource (same shape the Graph API expects for POST /me/messages). Required top-level fields: subject (string), body (object with contentType Text or HTML and content string), and toRecipients (array of { emailAddress: { address, optional name } }). Optional: ccRecipients, bccRecipients. Plain text uses contentType Text; rich content uses HTML with markup in content."
  },
  "servers": [
    {
      "url": "https://graph.microsoft.com/v1.0"
    }
  ],
  "paths": {
    "/me/messages": {
      "post": {
        "summary": "Create draft email",
        "description": "Creates a draft in the signed-in user's mailbox. Send a JSON object with subject, body { contentType, content }, and toRecipients; see request example for HTML and recipient shape.",
        "operationId": "createDraftMessage",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "subject",
                  "body",
                  "toRecipients"
                ],
                "properties": {
                  "subject": {
                    "type": "string",
                    "description": "Draft subject line.",
                    "example": "HTML draft"
                  },
                  "body": {
                    "type": "object",
                    "description": "Message body; contentType selects plain Text vs HTML markup in content.",
                    "required": [
                      "contentType",
                      "content"
                    ],
                    "properties": {
                      "contentType": {
                        "type": "string",
                        "enum": [
                          "Text",
                          "HTML"
                        ],
                        "example": "HTML"
                      },
                      "content": {
                        "type": "string",
                        "description": "Plain text or HTML string matching contentType.",
                        "example": "<b>Hello</b>"
                      }
                    }
                  },
                  "toRecipients": {
                    "type": "array",
                    "description": "At least one recipient; each item has emailAddress.address (required) and optional emailAddress.name.",
                    "items": {
                      "$ref": "#/components/schemas/Recipient"
                    }
                  },
                  "ccRecipients": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Recipient"
                    }
                  },
                  "bccRecipients": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Recipient"
                    }
                  }
                }
              },
              "example": {
                "subject": "HTML draft",
                "body": {
                  "contentType": "HTML",
                  "content": "<b>Hello</b>"
                },
                "toRecipients": [
                  {
                    "emailAddress": {
                      "address": "recipient@example.com"
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Draft message created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "Message": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "AAMkAGI2..."
          },
          "subject": {
            "type": "string",
            "example": "Test draft"
          },
          "isDraft": {
            "type": "boolean",
            "example": true
          }
        }
      },
      "Recipient": {
        "type": "object",
        "properties": {
          "emailAddress": {
            "$ref": "#/components/schemas/EmailAddress"
          }
        }
      },
      "EmailAddress": {
        "type": "object",
        "properties": {
          "address": {
            "type": "string",
            "format": "email",
            "example": "recipient@example.com"
          },
          "name": {
            "type": "string",
            "example": "John Doe"
          }
        }
      }
    }
  }
}
