{
  "openapi": "3.0.3",
  "info": {
    "title": "Microsoft Graph - Create Draft Message",
    "version": "1.0.0",
    "description": "Creates a new message in the signed-in user's mailbox. The message is saved as a draft by default."
  },
  "servers": [
    {
      "url": "https://graph.microsoft.com/v1.0"
    }
  ],
  "paths": {
    "/me/messages": {
      "post": {
        "summary": "Create draft email",
        "description": "Creates a draft message in the user's mailbox.",
        "operationId": "createDraftMessage",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "subject",
                  "body",
                  "toRecipients"
                ],
                "properties": {
                  "subject": {
                    "type": "string",
                    "example": "Test draft"
                  },
                  "body": {
                    "type": "object",
                    "required": [
                      "contentType",
                      "content"
                    ],
                    "properties": {
                      "contentType": {
                        "type": "string",
                        "enum": [
                          "Text",
                          "HTML"
                        ],
                        "example": "Text"
                      },
                      "content": {
                        "type": "string",
                        "example": "Hello, this is a draft email."
                      }
                    }
                  },
                  "toRecipients": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Recipient"
                    }
                  },
                  "ccRecipients": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Recipient"
                    }
                  },
                  "bccRecipients": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Recipient"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Draft message created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "Message": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "AAMkAGI2..."
          },
          "subject": {
            "type": "string",
            "example": "Test draft"
          },
          "isDraft": {
            "type": "boolean",
            "example": true
          }
        }
      },
      "Recipient": {
        "type": "object",
        "properties": {
          "emailAddress": {
            "$ref": "#/components/schemas/EmailAddress"
          }
        }
      },
      "EmailAddress": {
        "type": "object",
        "properties": {
          "address": {
            "type": "string",
            "format": "email",
            "example": "[recipient@example.com](mailto:recipient@example.com)"
          },
          "name": {
            "type": "string",
            "example": "John Doe"
          }
        }
      }
    }
  }
}
